.widget-note{
    padding :10px;
    height:175px;
    margin-bottom:10px;
    background: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.39);
    -moz-box-shadow:    3px 3px 12px 0px rgba(50, 50, 50, 0.39);
    box-shadow:         3px 3px 12px 0px rgba(50, 50, 50, 0.39);
}
.widget{
    padding :10px;
    margin-bottom:10px;
    background: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.39);
    -moz-box-shadow:    3px 3px 12px 0px rgba(50, 50, 50, 0.39);
    box-shadow:         3px 3px 12px 0px rgba(50, 50, 50, 0.39);
}
.cursor{
    cursor:pointer;
}
