<div class="home">
    <div class="forebass">
        <div class="logo">
            <img class="img-responsive" src="images/meteoro.png" alt="">
        </div>
        Forebass
        <div class="slogan">
            Tus propósitos, nuestras metas.
        </div>
        <div class="controls">
            <div class="col-md-6">
                <button class="btn btn-primary btn-block" ui-sref="forebass.login"><i class="fa fa-sign-in"></i> Log In</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success btn-block" ui-sref="forebass.register"><i class="fa fa-user-plus"></i> Regístrate</button>
            </div>
        </div>
    </div>
</div>
